@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #474448;
    --color-secondary: #2d232e;
    --color-muted: #534b52;
    --color-accent: #e0ddcf;
    --color-light: #f1f0ea;
    --font-rum-raisin: "Rum Raisin", sans-serif; /*Logo*/
    --font-sora: "Sora", sans-serif; /*Heading */
    --font-inter: "Inter", sans-serif; /*Sub-Heading-1*/
    --font-work-sans: "Work Sans", sans-serif; /*Sub-Heading-2*/
}
.glass-effect-dark {
    background: rgba(45, 35, 46, 0.8);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(83, 75, 82, 0.3);
}

body {
    @apply scroll-smooth;
}

* {
    scrollbar-width: none;
}

@utility bg-gradient-light {
    background: linear-gradient(135deg, #f1f0ea 0%, #e0ddcf 100%);
}

@utility bg-gradient-dark {
    background: linear-gradient(135deg, #2d232e 0%, #474448 100%);
}

.card-hover {
    transition: all 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-2px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.dark .card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(224, 221, 207, 0.1);
}

.google-btn {
    transition: all 0.2s ease;
}

.google-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
.theme-transition {
    transition: all 0.3s ease-in-out;
}

