@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #474448;
    --color-secondary: #2d232e;
    --color-muted: #534b52;
    --color-accent: #e0ddcf;
    --color-light: #f1f0ea;
    --font-rum-raisin: "Rum Raisin", sans-serif; /*Logo*/
    --font-sora: "Sora", sans-serif; /*Heading */
    --font-inter: "Inter", sans-serif; /*Sub-Heading-1*/
    --font-work-sans: "Work Sans", sans-serif; /*Sub-Heading-2*/
}

@utility bg-gradient-light {
    background: linear-gradient(135deg, #f1f0ea 0%, #e0ddcf 100%);
}

@utility bg-gradient-dark {
    background: linear-gradient(135deg, #2d232e 0%, #474448 100%);
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-1rem);
    }
}
.bounce-dot {
    animation: bounce 1s infinite ease-in-out;
}
.bounce-dot:nth-child(1) {
    animation-delay: -0.4s;
}
.bounce-dot:nth-child(2) {
    animation-delay: -0.2s;
}
.bounce-dot:nth-child(3) {
    animation-delay: 0s;
}

.icon-hover{
    transition: all 0.2s ease-in-out;
    padding: 4px;
    border-radius: 100%;
    font-size: 1.7rem;
    cursor: pointer;
}

.icon-hover:hover{
    color: var(--color-accent);
    background: var(--color-primary);
    transform: scale(1.1);
}
.dark .icon-hover:hover{
    color: var(--color-primary);
    background: var(--color-accent);
    transform: scale(1.1);
}

.animate-scroll {
    animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
} 


.glass-effect-dark {
    background: rgba(45, 35, 46, 0.8);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(83, 75, 82, 0.3);
}

html {
    @apply scroll-pt-20 sm:scroll-pt-22
}

body {
    @apply scroll-smooth ;
}

* {
    scrollbar-width: none;
}


.card-hover {
    transition: all 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.dark .card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(224, 221, 207, 0.1);
}

.google-btn {
    transition: all 0.2s ease;
}

.google-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
.theme-transition {
    transition: all 0.3s ease-in-out;
}


